@mixin margin-auto() {
  margin: 0 auto;
}

@mixin center () {
  position: absoute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gradient($orientation, $start-color, $end-color) {
  background-image: linear-gradient($orientation, $start-color, $end-color);
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin css-triangle($color, $direction, $main-border-size, $side-border-size) {
  width: 0;
  height: 0;

  @if $direction==down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }

  @else if $direction==up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }

  @else if $direction==right {
    border-top: $side-border-size solid transparent;
    border-bottom: $side-border-size solid transparent;
    border-left: $main-border-size solid $color;
  }

  @else if $direction==left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
}