@mixin margin-auto() {
  margin: 0 auto;
}

@mixin center () {
  position: absoute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

@mixin gradient($orientation, $start-color, $end-color) {
  background-image: linear-gradient($orientation, $start-color, $end-color);
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin css-triangle($color, $direction, $size, $position: absolute) {
  width: 0;
  height: 0;

  @if $direction==down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round($size / 2.5);
  }

  @else if $direction==up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round($size / 2.5);
  }

  @else if $direction==right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  }

  @else if $direction==left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}