@import './variables';
@import './mixins';

:root {
  --closed-nav-height: 36px;
  --opened-nav-height: 246px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $lato-font-family;
  overflow-x: hidden;

  body {
    overflow-x: hidden;

    .page-header {
      padding: 30px 30px 60px;
      background-image: $main-gradient;

      .page-nav {
        display: grid;
        grid-template-columns: auto auto;
        animation: close 1s 1 both ease;

        @keyframes close {
          from {
            height: var(--opened-nav-height);
          }

          to {
            height: var(--closed-nav-height);
          }
        }

        .page-nav__title {
          font-size: 3rem;
          z-index: 2;

          .page-nav__link {
            text-decoration: none;
            color: $white-color;
          }
        }

        .page-nav__btn {
          justify-self: end;
          align-self: center;
          background: none;
          border: none;
          cursor: pointer;

          .page-nav__icon {
            color: $white-color;
            font-size: 3.5rem;
          }
        }

        .page-nav__list {
          grid-column: 1/-1;
          display: grid;
          grid-template-rows: repeat(4, 50px);
          margin-top: 10px;
          list-style: none;
          overflow: hidden;

          .page-nav__item {
            display: grid;

            .page-nav__link {
              width: 100%;
              align-self: stretch;
              display: grid;
              align-items: center;
              justify-items: center;
              font-size: 1.6rem;
              color: $white-color;
              text-decoration: none;
              text-transform: uppercase;
              border-bottom: 1px solid $white-color;
            }
          }
        }
      }

      .page-nav.opened {
        animation: open 1s 1 both ease;
      }

      @keyframes open {
        from {
          height: var(--closed-nav-height);
        }

        to {
          height: var(--opened-nav-height);
        }
      }

      .page-nav.opened .page-nav__list {
        display: grid;
      }

      .page-hero {
        text-align: center;
        color: $white-color;

        .page-hero__title {
          padding: 40px 0;
          font-size: 3rem;
          letter-spacing: $h2-letter-spacing;
        }

        .page-hero__description {
          margin: 0 0 50px 0;
          font-size: 1.5rem;
          line-height: 2rem;
        }

        .page-hero__btn {
          padding: 15px 32.5px;
          background-color: $white-color;
          border: none;
          border-radius: $form-radius;
          font-size: 1.8rem;
          font-weight: $btn-weight;
          cursor: pointer;

          .page-hero__text {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: $main-gradient;
          }
        }

        .picture-wrapper {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 736px) {
  html {
    font-size: 12px;
  }
}