@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $lato-font-family;

  .page-header {
    background-image: $main-gradient;

    .page-nav {
      padding: 40px 50px;

      .page-nav__title {
        font-size: 30px;

        .page-nav__link {
          display: block;
          text-decoration: none;
          color: $white-color;
        }
      }

      .page-nav__icon {
        color: $white-color;
        text-align: right;
      }

      .page-nav__list {
        list-style: none;
        display: none;
        // background-color: blue;
      }
    }
  }
}