:root {
  --closed-nav-height: 36px;
  --opened-nav-height: 246px;
  --rect-gradient-height: 200px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

html body {
  overflow-x: hidden;
}

html body .page-header {
  padding: 20px 20px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .page-header .page-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: var(--closed-nav-height);
}

@-webkit-keyframes close {
  from {
    height: var(--opened-nav-height);
  }
  to {
    height: var(--closed-nav-height);
  }
}

@keyframes close {
  from {
    height: var(--opened-nav-height);
  }
  to {
    height: var(--closed-nav-height);
  }
}

html body .page-header .page-nav .page-nav__title {
  font-size: 3rem;
}

html body .page-header .page-nav .page-nav__title .page-nav__link {
  text-decoration: none;
  color: #fff;
}

html body .page-header .page-nav .page-nav__btn {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: none;
  border: none;
  cursor: pointer;
}

html body .page-header .page-nav .page-nav__btn .page-nav__icon {
  color: #fff;
  font-size: 3.5rem;
}

html body .page-header .page-nav .page-nav__list {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px)[4];
      grid-template-rows: repeat(4, 50px);
  margin-top: 10px;
  list-style: none;
  overflow: hidden;
}

html body .page-header .page-nav .page-nav__list .page-nav__item {
  display: -ms-grid;
  display: grid;
}

html body .page-header .page-nav .page-nav__list .page-nav__item .page-nav__link {
  width: 100%;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

@-webkit-keyframes open {
  from {
    height: var(--closed-nav-height);
  }
  to {
    height: var(--opened-nav-height);
  }
}

@keyframes open {
  from {
    height: var(--closed-nav-height);
  }
  to {
    height: var(--opened-nav-height);
  }
}

html body .page-header .page-nav.opened .page-nav__list {
  display: -ms-grid;
  display: grid;
}

html body .page-header .page-hero {
  text-align: center;
  color: #fff;
}

html body .page-header .page-hero .slogan .page-hero__title {
  padding: 40px 0;
  font-size: 3rem;
  letter-spacing: 2px;
}

html body .page-header .page-hero .slogan .page-hero__title .page-hero__linebreak {
  display: block;
}

html body .page-header .page-hero .slogan .page-hero__description {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

html body .page-header .page-hero .slogan .page-hero__description .page-hero__highlight {
  font-weight: bold;
}

html body .page-header .page-hero .slogan .page-hero__btn {
  padding: 15px 32.5px;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

html body .page-header .page-hero .slogan .page-hero__btn .page-hero__text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .page-header .page-hero .picture-wrapper {
  display: none;
}

html body .app-description .wrapper {
  padding: 0 20px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  max-width: 400px;
  margin: 0 auto;
}

html body .app-description .wrapper .app-feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

html body .app-description .wrapper .app-feature .feature-img-wrapper {
  position: relative;
  height: 550px;
}

html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 400px;
}

html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper img {
  height: 100%;
}

html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper:nth-child(1) {
  top: 45%;
  left: 40%;
}

html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper:nth-child(2) {
  top: 60%;
  left: 60%;
}

html body .app-description .wrapper .app-feature:nth-child(2) .feature-img-wrapper {
  margin-bottom: 40px;
}

html body .app-description .wrapper .app-feature .app-feature-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

html body .app-description .wrapper .app-feature .app-feature-description .app-feature__title {
  margin-bottom: 20px;
  font-size: 4rem;
  color: #363636;
  font-weight: bold;
}

html body .app-description .wrapper .app-feature .app-feature-description .app-feature__title .dot {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .app-description .wrapper .app-feature .app-feature-description .app-feature__text {
  max-width: 500px;
  font-size: 1.4rem;
  line-height: 26px;
  color: #808080;
}

html body .app-description::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

html body .reviews {
  padding: 40px 30px;
  text-align: center;
}

html body .reviews .wrapper .reviews-title {
  font-size: 4rem;
  margin-bottom: 50px;
  font-size: 4rem;
  color: #363636;
  font-weight: bold;
}

html body .reviews .wrapper .reviews-title .dot {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .reviews .wrapper .reviews-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

html body .reviews .wrapper .reviews-wrapper .comment-box {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .comment {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
  padding: 20px;
  line-height: 26px;
  font-size: 1.4rem;
  border: 1px solid #e0e0e0;
  color: #808080;
  margin-bottom: 40px;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .comment .comment__company {
  margin-top: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
  font-weight: bold;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .comment::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .author {
  display: block;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar {
  font-size: 1.4rem;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar .avatar__name {
  font-style: normal;
  color: #363636;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar .avatar__name .avatar__profession {
  display: block;
  color: #667386;
  font-size: 1.2rem;
}

html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar img {
  margin-bottom: 10px;
}

html body .reviews .wrapper .reviews-wrapper .comment-box:nth-child(2) .comment {
  border: none;
  -webkit-box-shadow: 0 30px 60px 0 #36363626;
          box-shadow: 0 30px 60px 0 #36363626;
}

html body .overview {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .overview .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 50px 20px;
}

html body .overview .wrapper .feature {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

html body .overview .wrapper .feature .feature__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

html body .overview .wrapper .feature .feature__description {
  font-size: 1.5rem;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

html body .overview .wrapper .phone-wrapper {
  display: none;
  position: relative;
}

html body .overview .wrapper .phone-wrapper .phone {
  position: relative;
  width: 100%;
}

html body .overview .wrapper .phone-wrapper .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html body .newsletter {
  text-align: center;
  margin-top: 50px;
}

html body .newsletter::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

html body .newsletter .wrapper {
  padding: 0 30px 100px;
}

html body .newsletter .wrapper .newsletter__title {
  font-size: 4rem;
  margin-bottom: 30px;
  color: #363636;
  font-weight: bold;
}

html body .newsletter .wrapper .newsletter__title .dot {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .newsletter .wrapper .newsletter__text {
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 30px;
  color: #808080;
}

html body .newsletter .wrapper .form .input__label .form__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 35px;
  border: none;
  border-radius: 35px;
  background: #f8f8f8;
}

html body .newsletter .wrapper .form .form__btn {
  padding: 15px 35px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
  color: #fff;
  border: none;
  border-radius: 35px;
  font-weight: bold;
}

html body .download-app {
  text-align: center;
  padding: 50px 30px 0;
}

html body .download-app .wrapper .app-logo {
  height: 130px;
  margin-bottom: 30px;
}

html body .download-app .wrapper .download-app__title {
  font-size: 4rem;
  margin-bottom: 30px;
  color: #363636;
  font-weight: bold;
}

html body .download-app .wrapper .download-app__title .dot {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
  background-image: linear-gradient(#d90647, #eb402c);
}

html body .download-app .wrapper .download-app__text {
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 30px;
  color: #808080;
}

html body .page-footer {
  text-align: center;
  margin-top: 50px;
}

html body .page-footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 30px;
}

html body .page-footer .wrapper .footer-nav .footer-nav__list {
  list-style: none;
}

html body .page-footer .wrapper .footer-nav .footer-nav__list .footer-nav__element {
  padding: 15px;
}

html body .page-footer .wrapper .footer-nav .footer-nav__list .footer-nav__element .footer-nav__link {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #363636;
}

html body .page-footer .wrapper .footer-form {
  position: relative;
}

html body .page-footer .wrapper .footer-form select {
  margin: 20px 0;
  padding: 10px 25px;
  border-radius: 35px;
  border: none;
  background: #f8f8f8;
  color: #363636;
}

@media (min-width: 736px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
  html body .page-header {
    padding: 50px 50px 0;
  }
  html body .page-header .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: none;
            animation: none;
  }
  html body .page-header .page-nav .page-nav__btn {
    display: none;
  }
  html body .page-header .page-nav .page-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  html body .page-header .page-nav .page-nav__list .page-nav__item {
    position: relative;
    margin-left: 50px;
  }
  html body .page-header .page-nav .page-nav__list .page-nav__item:hover:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: line .3s 1 both ease;
            animation: line .3s 1 both ease;
  }
  @-webkit-keyframes line {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes line {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  html body .page-header .page-nav .page-nav__list .page-nav__item .page-nav__link {
    border-bottom: none;
  }
  html body .page-header .page-hero {
    max-width: 1600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  html body .page-header .page-hero .slogan {
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html body .page-header .page-hero .slogan .page-hero__title {
    font-size: 4rem;
  }
  html body .page-header .page-hero .slogan .page-hero__description {
    font-size: 1.6rem;
    margin-bottom: 60px;
  }
  html body .page-header .page-hero .picture-wrapper {
    display: block;
    position: relative;
    top: 300px;
    z-index: 1;
  }
  html body .app-description {
    padding: var(--rect-gradient-height) 0 0;
    position: relative;
  }
  html body .app-description::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--rect-gradient-height);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(49.9%, #eb402c), color-stop(50.1%, transparent));
    background-image: linear-gradient(to right bottom, #eb402c 49.9%, transparent 50.1%);
  }
  html body .app-description .wrapper {
    padding: 100px 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    max-width: 1200px;
    margin: 0 auto;
  }
  html body .app-description .wrapper .app-feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  html body .app-description .wrapper .app-feature .feature-img-wrapper {
    position: relative;
    height: 550px;
  }
  html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 400px;
  }
  html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper img {
    height: 100%;
  }
  html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper:nth-child(1) {
    top: 45%;
    left: 40%;
  }
  html body .app-description .wrapper .app-feature .feature-img-wrapper .pic-wrapper:nth-child(2) {
    top: 60%;
    left: 60%;
  }
  html body .app-description .wrapper .app-feature:nth-child(2) .feature-img-wrapper {
    margin-bottom: 40px;
  }
  html body .app-description .wrapper .app-feature .app-feature-description {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: start;
    text-align: left;
  }
  html body .app-description .wrapper .app-feature .app-feature-description .app-feature__title {
    margin-bottom: 20px;
    font-size: 4rem;
    color: #363636;
    font-weight: bold;
    text-align: left;
  }
  html body .app-description .wrapper .app-feature .app-feature-description .app-feature__title .dot {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
    background-image: linear-gradient(#d90647, #eb402c);
  }
  html body .app-description .wrapper .app-feature .app-feature-description .app-feature__text {
    max-width: 500px;
    font-size: 1.4rem;
    line-height: 26px;
    color: #808080;
  }
  html body .app-description .wrapper .app-feature:nth-child(2) .feature-img-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  html body .reviews {
    padding: 50px 30px;
    text-align: center;
  }
  html body .reviews .wrapper .reviews-title {
    font-size: 4rem;
    margin-bottom: 100px;
    font-size: 4rem;
    color: #363636;
    font-weight: bold;
  }
  html body .reviews .wrapper .reviews-title .dot {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d90647), to(#eb402c));
    background-image: linear-gradient(#d90647, #eb402c);
  }
  html body .reviews .wrapper .reviews-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box .comment {
    text-align: left;
    min-height: 220px;
    line-height: 30px;
    font-size: 1.2rem;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar .avatar__name {
    font-size: 1.3rem;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar .avatar__name .avatar__profession {
    font-size: 1rem;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box .author .avatar img {
    margin: 0;
  }
  html body .reviews .wrapper .reviews-wrapper .comment-box:nth-child(2) {
    margin-top: -30px;
  }
  html body .overview .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-gap: 20px;
        grid-template-areas: "feature1 phone feature3" "feature2 phone feature4";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 20px;
  }
  html body .overview .wrapper .feature {
    position: relative;
    max-width: 600px;
    text-align: initial;
    margin: 0 auto;
    color: #fff;
  }
  html body .overview .wrapper .feature.feature1, html body .overview .wrapper .feature.feature2 {
    text-align: right;
    padding-right: 100px;
  }
  html body .overview .wrapper .feature.feature1 .feature__icon, html body .overview .wrapper .feature.feature2 .feature__icon {
    top: 0;
    right: 0;
  }
  html body .overview .wrapper .feature.feature3, html body .overview .wrapper .feature.feature4 {
    text-align: left;
    padding-left: 100px;
  }
  html body .overview .wrapper .feature.feature3 .feature__icon, html body .overview .wrapper .feature.feature4 .feature__icon {
    top: 0;
    left: 0;
  }
  html body .overview .wrapper .feature .feature__title {
    font-size: 2.4rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  html body .overview .wrapper .feature.feature1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: feature1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  html body .overview .wrapper .feature.feature2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: feature2;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  html body .overview .wrapper .feature.feature3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: feature3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  html body .overview .wrapper .feature.feature4 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: feature4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  html body .overview .wrapper .feature .feature__description {
    font-size: 1.6rem;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
  }
  html body .overview .wrapper .feature .feature__icon {
    position: absolute;
  }
  html body .overview .wrapper .phone-wrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: phone;
    display: block;
    position: relative;
  }
  html body .overview .wrapper .phone-wrapper .phone {
    position: relative;
    width: 100%;
  }
  html body .overview .wrapper .phone-wrapper .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  html body .newsletter {
    margin-top: 100px;
  }
  html body .newsletter .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  html body .newsletter .wrapper .newsletter__title {
    font-size: 4rem;
    margin-bottom: 50px;
  }
  html body .newsletter .wrapper .newsletter__text {
    font-size: 1.4rem;
    line-height: 25px;
    margin-bottom: 100px;
    color: #808080;
  }
  html body .newsletter .wrapper .form {
    width: 600px;
    margin: 0 auto;
    position: relative;
  }
  html body .newsletter .wrapper .form .input__label .form__input {
    position: relative;
    width: 100%;
    margin: 0 auto 20px;
  }
  html body .newsletter .wrapper .form .form__btn {
    padding: 15px 50px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(-50%, -50%);
            transform: translateX(-50%, -50%);
    -webkit-box-shadow: 0 10px 30px 0 #df1b3d4d;
            box-shadow: 0 10px 30px 0 #df1b3d4d;
  }
  html body .download-app .wrapper .download-app__text {
    font-size: 1.4rem;
  }
  html body .page-footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 0;
  }
  html body .page-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
  }
  html body .page-footer .wrapper .footer-nav .footer-nav__list .footer-nav__element {
    padding: 30px 15px;
    display: inline-block;
  }
  html body .page-footer .wrapper .footer-nav .footer-nav__list .footer-nav__element .footer-nav__link {
    font-size: 1.2rem;
  }
  html body .page-footer .wrapper .footer-form select {
    margin: 0;
  }
}

@media (min-width: 1920px) {
  html body .page-header .page-hero .slogan .page-hero__title {
    font-size: 6rem;
  }
  html body .page-header .page-hero .slogan .page-hero__description {
    font-size: 2.4rem;
    margin-bottom: 120px;
  }
}
