$white-color: #fff;
$section-headers-color: #363636;
$section-text-color: #808080;
$btn-weight: bold;
$line-color: #e0e0e0;
$gradient-color: linear-gradient(90deg #eb402c,
#d90647);
$avatar-text-color: #667386;
$icon-color: #fbfbfb;
$rectangle-color: #232323;
$form-radius: 25px;
$gradient-shadow: 10px 10px 0 30px $gradient-color;
$message-shadow: 30px 30px 0 60px $section-headers-color;
$form-bg: #f8f8f8;

$global-lato-family: 'Lato';

$header-size: 60px;
$paragraph-size: 18px;

$avatar-caption: 16px;
$section-paragraph-size: 16px;
$section-header-size: 24px;