$white-color: #fff;
$headers-color: #363636;
$text-color: #808080;
$btn-weight: bold;
$line-color: #e0e0e0;
$main-gradient: linear-gradient(#d90647, #eb402c);
$avatar-subtext-color: #667386;
$icon-color: #fbfbfb;
$rectangle-color: #232323;
$form-radius: 35px;
$app-icon-shadow: 10px 10px 30px 0 $main-gradient;
$review-box-shadow: 0 30px 60px 0 #36363626;
$input-bg: #f8f8f8;

$lato-font-family: 'Lato',
sans-serif;
$header-size: 60px;
$paragraph-size: 18px;
$avatar-caption: 16px;
$section-paragraph-size: 16px;
$section-header-size: 24px;

$page-margin-top: 40px;
$page-margin-bottom: 25px;
$page-margin-horizontal: 50px;

$nav-margin-left: 50px;
$h2-letter-spacing: 2px;
$h2-margin-bottom: 40px;

$header-btn-padding: 20px 50px;
$header-margin-bottom: 65px;

$gradient-section-margin: 85px 90px;
$form-section-vmargin:150px;
$form-margin-top: 70px;

$nav-footer-margin-right: 60px;