@import './variables';
@import './mixins';

:root {
  --closed-nav-height: 36px;
  --opened-nav-height: 246px;
  --rect-gradient-height: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// MOBILE
html {
  font-size: 10px;
  font-family: $lato-font-family;
  overflow-x: hidden;

  body {
    overflow-x: hidden;

    .page-header {
      padding: 20px 20px 50px;
      background-image: $main-gradient;


      .page-nav {
        display: grid;
        grid-template-columns: auto auto;
        height: var(--closed-nav-height);

        @keyframes close {
          from {
            height: var(--opened-nav-height);
          }

          to {
            height: var(--closed-nav-height);
          }
        }

        .page-nav__title {
          font-size: 3rem;

          .page-nav__link {
            text-decoration: none;
            color: $white-color;
          }
        }

        .page-nav__btn {
          justify-self: end;
          align-self: center;
          background: none;
          border: none;
          cursor: pointer;

          .page-nav__icon {
            color: $white-color;
            font-size: 3.5rem;
          }
        }

        .page-nav__list {
          grid-column: 1/-1;
          display: grid;
          grid-template-rows: repeat(4, 50px);
          margin-top: 10px;
          list-style: none;
          overflow: hidden;

          .page-nav__item {
            display: grid;

            .page-nav__link {
              width: 100%;
              align-self: stretch;
              display: grid;
              align-items: center;
              justify-items: center;
              font-size: 1.6rem;
              color: $white-color;
              text-decoration: none;
              text-transform: uppercase;
              border-bottom: 1px solid $white-color;
            }
          }
        }
      }


      @keyframes open {
        from {
          height: var(--closed-nav-height);
        }

        to {
          height: var(--opened-nav-height);
        }
      }

      .page-nav.opened .page-nav__list {
        display: grid;
      }

      .page-hero {
        text-align: center;
        color: $white-color;

        .slogan {

          .page-hero__title {
            padding: 40px 0;
            font-size: 3rem;
            letter-spacing: $h2-letter-spacing;

            .page-hero__linebreak {
              display: block;
            }
          }

          .page-hero__description {
            margin: 0 0 30px 0;
            font-size: 1.5rem;
            line-height: 2rem;

            .page-hero__highlight {
              font-weight: bold
            }
          }

          .page-hero__btn {
            padding: 15px 32.5px;
            background-color: $white-color;
            border: none;
            border-radius: $form-radius;
            font-size: 1.8rem;
            font-weight: $btn-weight;
            cursor: pointer;


            .page-hero__text {
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-image: $main-gradient;
            }
          }
        }

        .picture-wrapper {
          display: none;
        }
      }
    }

    .app-description {


      .wrapper {
        padding: 0 20px 50px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        max-width: 400px;
        @include margin-auto;

        .app-feature {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto auto;

          .feature-img-wrapper {
            position: relative;
            height: 550px;

            .pic-wrapper {
              position: absolute;
              transform: translate(-50%, -50%);
              height: 400px;

              img {
                height: 100%;
              }

              &:nth-child(1) {
                top: 45%;
                left: 40%;
              }

              &:nth-child(2) {
                top: 60%;
                left: 60%;
              }
            }
          }

          &:nth-child(2) .feature-img-wrapper {
            margin-bottom: 40px;
          }

          .app-feature-description {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-items: center;
            align-items: center;
            text-align: center;

            .app-feature__title {
              margin-bottom: 20px;
              font-size: 4rem;
              color: $headers-color;
              font-weight: bold;

              .dot {
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: $main-gradient;
              }
            }

            .app-feature__text {
              max-width: 500px;
              font-size: 1.4rem;
              line-height: 26px;
              color: $text-color;
            }
          }
        }
      }
    }

    .app-description::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $line-color;
    }

    .reviews {
      padding: 40px 30px;
      text-align: center;

      .wrapper {
        .reviews-title {
          font-size: 4rem;
          margin-bottom: 50px;
          font-size: 4rem;
          color: $headers-color;
          font-weight: bold;

          .dot {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: $main-gradient;
          }
        }

        .reviews-wrapper {
          max-width: 1200px;
          @include margin-auto();

          .comment-box {
            max-width: 400px;
            @include margin-auto();
            margin-bottom: 50px;

            .comment {
              background-color: $white-color;
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: auto auto;
              align-content: space-between;
              position: relative;
              padding: 20px;
              line-height: 26px;
              font-size: 1.4rem;
              border: 1px solid $line-color;
              color: $text-color;
              margin-bottom: 40px;

              .comment__company {
                margin-top: 10px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: $main-gradient;
                font-weight: bold;
              }

              &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
              }
            }

            .author {
              display: block;

              .avatar {
                font-size: 1.4rem;

                .avatar__name {
                  font-style: normal;
                  color: $headers-color;

                  .avatar__profession {
                    display: block;
                    color: $avatar-subtext-color;
                    font-size: 1.2rem;
                  }
                }

                img {
                  margin-bottom: 10px;
                }
              }
            }

            &:nth-child(2) {
              .comment {
                border: none;
                box-shadow: $review-box-shadow;
              }
            }
          }
        }
      }
    }

    .overview {
      background-image: $main-gradient;

      .wrapper {
        max-width: 1200px;
        @include margin-auto();
        display: grid;
        grid-template-columns: auto;
        padding: 50px 20px;

        .feature {
          max-width: 400px;
          @include margin-auto();
          text-align: center;
          color: $white-color;
          margin-bottom: 60px;

          .feature__title {
            font-size: 2.5rem;
            margin-bottom: 20px;
            letter-spacing: 2px;
          }

          .feature__description {
            font-size: 1.5rem;
            line-height: 30px;
            color: rgba(255, 255, 255, .5);
            margin-bottom: 20px;
          }

        }

        .phone-wrapper {
          display: none;
          position: relative;

          .phone {
            position: relative;
            width: 100%;
          }

          &::after {
            // content: '';
            // background-color: $rectangle-color;
            // opacity: .4;
            // position: absolute;
            // top: 55px;
            // bottom: 88px;
            // left: 41px;
            // right: 50px;

          }

          .play-icon {
            @include center();
          }
        }
      }
    }

    .newsletter {
      text-align: center;
      margin-top: 50px;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $line-color;
      }

      .wrapper {
        padding: 0 30px 100px;

        .newsletter__title {
          font-size: 4rem;
          margin-bottom: 30px;
          color: $headers-color;
          font-weight: bold;

          .dot {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: $main-gradient;
          }
        }

        .newsletter__text {
          font-size: 1.5rem;
          line-height: 25px;
          margin-bottom: 30px;
          color: $text-color;
        }

        .form {
          .input__label {
            .form__input {
              display: block;
              width: 100%;
              margin-bottom: 20px;
              padding: 15px 35px;
              border: none;
              border-radius: $form-radius;
              background: $input-bg;
            }
          }

          .form__btn {
            padding: 15px 35px;
            background-image: $main-gradient;
            color: $white-color;
            border: none;
            border-radius: $form-radius;
            font-weight: bold;
            box-shadow: 0 10px 30px 0 #df1b3d4d;
          }
        }
      }
    }

    .download-app {
      text-align: center;
      padding: 50px 30px 0;

      .wrapper {
        .app-logo {
          height: 130px;
          margin-bottom: 30px;
        }

        .download-app__title {
          font-size: 4rem;
          margin-bottom: 30px;
          color: #363636;
          font-weight: bold;

          .dot {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: $main-gradient;
          }
        }

        .download-app__text {
          font-size: 1.5rem;
          line-height: 25px;
          margin-bottom: 30px;
          color: #808080;
        }
      }
    }

    .page-footer {
      text-align: center;
      margin-top: 50px;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $line-color;
      }

      .wrapper {


        .footer-nav {
          .footer-nav__list {
            list-style: none;

            .footer-nav__element {
              padding: 15px;

              .footer-nav__link {
                font-size: 1.2rem;
                text-decoration: none;
                text-transform: uppercase;
                color: $headers-color;
              }
            }
          }
        }

        .footer-form {
          position: relative;

          .lang-list {
            margin: 20px 0;
            padding: 10px 25px;
            border-radius: $form-radius;
            border: none;
            background: $input-bg;
            color: $headers-color;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
          }

          .arrow-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            font-size: .8rem;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}


// TABLETS

@media (min-width: 736px) {
  html {
    font-size: 12px;
  }
}

// DESKTOP

@media (min-width: 1024px) {
  html {
    font-size: 14px;

    body {

      .page-header {
        padding: 50px 50px 0;

        .page-nav {
          display: flex;
          justify-content: space-between;
          animation: none;

          .page-nav__title {

            .page-nav__link {}
          }

          .page-nav__btn {
            display: none;

            .page-nav__icon {}
          }

          .page-nav__list {
            display: flex;
            margin-top: 0;

            .page-nav__item {
              position: relative;
              margin-left: 50px;

              &:hover:before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                @include center();
                animation: line .3s 1 both ease;
              }

              @keyframes line {
                from {
                  width: 0;
                }

                to {
                  width: 100%;
                }
              }

              .page-nav__link {
                border-bottom: none;
              }
            }
          }
        }

        .page-nav.opened {}

        .page-nav.opened .page-nav__list {}

        .page-hero {
          max-width: 1600px;
          @include margin-auto;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          .slogan {
            text-align: left;
            align-self: center;

            .page-hero__title {
              font-size: 4rem;
            }

            .page-hero__description {
              font-size: 1.6rem;
              margin-bottom: 60px;
            }

            .page-hero__btn {
              .page-hero__text {}
            }
          }

          .picture-wrapper {
            display: block;
            position: relative;
            top: 300px;
            z-index: 1;
          }

        }
      }

      .app-description {
        padding: var(--rect-gradient-height) 0 0;
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: var(--rect-gradient-height);
          background-image: linear-gradient(to right bottom, #eb402c 49.9%, transparent 50.1%);
        }

        .wrapper {
          padding: 100px 80px;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto auto;
          max-width: 1200px;
          @include margin-auto;

          .app-feature {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;

            .feature-img-wrapper {
              position: relative;
              height: 550px;


              .pic-wrapper {
                position: absolute;
                transform: translate(-50%, -50%);
                height: 400px;

                img {
                  height: 100%;
                }

                &:nth-child(1) {
                  top: 45%;
                  left: 40%;
                }

                &:nth-child(2) {
                  top: 60%;
                  left: 60%;
                }
              }
            }

            &:nth-child(2) .feature-img-wrapper {
              margin-bottom: 40px;
            }

            .app-feature-description {
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: auto;
              align-content: center;
              justify-items: start;
              text-align: left;

              .app-feature__title {
                margin-bottom: 20px;
                font-size: 4rem;
                color: $headers-color;
                font-weight: bold;
                text-align: left;

                .dot {
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-image: $main-gradient;
                }
              }

              .app-feature__text {
                max-width: 500px;
                font-size: 1.4rem;
                line-height: 26px;
                color: $text-color;
              }
            }
          }

          .app-feature:nth-child(2) {

            .feature-img-wrapper {
              order: 2;
            }
          }
        }
      }

      .reviews {
        padding: 50px 30px;
        margin-bottom: 100px;
        text-align: center;

        .wrapper {
          .reviews-title {
            font-size: 4rem;
            margin-bottom: 100px;
            font-size: 4rem;
            color: $headers-color;
            font-weight: bold;

            .dot {
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-image: $main-gradient;
            }
          }

          .reviews-wrapper {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;

            .comment-box {
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: auto auto;
              align-content: space-between;
              max-width: 400px;
              @include margin-auto();
              margin-bottom: 20px;
              text-align: left;

              .comment {
                text-align: left;
                min-height: 220px;
                line-height: 30px;
                font-size: 1.2rem;


                .comment__company {}

                &::after {}
              }

              .author {


                .avatar {
                  display: grid;
                  grid-template-columns: auto auto;
                  grid-gap: 20px;
                  justify-content: start;
                  align-items: center;

                  .avatar__name {
                    font-size: 1.3rem;

                    .avatar__profession {
                      font-size: 1rem;
                    }
                  }

                  img {
                    margin: 0;
                  }
                }
              }

              &:nth-child(2) {
                margin-top: -30px;

                .comment {}
              }
            }
          }
        }
      }

      .overview {


        .wrapper {
          position: relative;
          max-width: 1500px;
          @include margin-auto();
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto auto;
          grid-gap: 50px;
          grid-template-areas:
            "feature1 . feature3"
            "feature2 . feature4";

          align-items: center;
          padding: 50px 20px;

          .feature {
            position: relative;
            max-width: 600px;
            text-align: initial;
            @include margin-auto();
            color: $white-color;

            &.feature1,
            &.feature2 {
              text-align: right;
              padding-right: 100px;

              .feature__icon {
                top: 0;
                right: 0;
              }
            }

            &.feature3,
            &.feature4 {
              text-align: left;
              padding-left: 100px;

              .feature__icon {
                top: 0;
                left: 0;
              }
            }

            .feature__title {
              font-size: 2.4rem;
              margin-bottom: 20px;
              letter-spacing: 2px;
            }

            &.feature1 {
              grid-area: feature1;
              align-self: end;
            }

            &.feature2 {
              grid-area: feature2;
              align-self: start;
            }

            &.feature3 {
              grid-area: feature3;
              align-self: end;
            }

            &.feature4 {
              grid-area: feature4;
              align-self: start;
            }

            .feature__description {
              font-size: 1.3rem;
              line-height: 30px;
              color: rgba(255, 255, 255, .5);
              margin-bottom: 20px;
            }

            .feature__icon {
              position: absolute;
            }

          }

          .phone-wrapper {
            grid-area: phone;
            display: block;
            position: absolute;
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
          }

          .phone {
            position: relative;
            width: 100%;
          }

          .play-icon {
            @include center();
          }
        }
      }
    }

    .newsletter {
      padding-top: 100px;

      .wrapper {
        max-width: 1200px;
        @include margin-auto();

        .newsletter__title {
          font-size: 4rem;
          margin-bottom: 50px;
        }

        .newsletter__text {
          font-size: 1.4rem;
          line-height: 25px;
          margin-bottom: 100px;
          color: $text-color;
        }

        .form {
          width: 600px;
          margin: 0 auto;
          position: relative;

          .input__label {
            .form__input {
              position: relative;
              width: 100%;
              margin: 0 auto 20px;
            }
          }

          .form__btn {
            padding: 15px 50px;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(-50%, -50%);
          }
        }
      }
    }

    .download-app {
      .wrapper {
        .download-app__text {
          font-size: 1.4rem;
        }
      }
    }

    .page-footer {


      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $line-color;
        margin-bottom: 0;
      }


      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        .footer-nav {
          .footer-nav__list {



            .footer-nav__element {
              padding: 30px 15px;
              display: inline-block;


              .footer-nav__link {
                font-size: 1.2rem;
              }
            }
          }
        }

        .footer-form {
          select {
            margin: 0;

          }
        }
      }
    }
  }
}


@media (min-width: 1920px) {
  html {

    body {

      .page-header {

        .page-nav {
          .page-nav__title {
            .page-nav__link {}
          }

          .page-nav__btn {


            .page-nav__icon {}
          }

          .page-nav__list {


            .page-nav__item {


              &:hover:before {}

              .page-nav__link {}
            }
          }
        }

        .page-nav.opened {}

        .page-nav.opened .page-nav__list {}

        .page-hero {

          .slogan {
            .page-hero__title {
              font-size: 6rem;
            }

            .page-hero__description {
              font-size: 2.4rem;
              margin-bottom: 120px;
            }

            .page-hero__btn {
              .page-hero__text {}
            }
          }

          .picture-wrapper {}

        }
      }
    }
  }
}